:root {
  --white: #a9a9b3;
}

@font-face {
  font-family: 'jose';
  src: url(./assets/fonts/JosefinSans-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
}

/* Variables globales */

html {
  display: flex;
  justify-content: center;
}

body {
  background-color: #292a2d;
  color: var(--white);
  font-family: 'jose';
  width: 1000px;
}

a {
  color: var(--white);
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  text-align: center;
}

/* Titre et Navbar */

.title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 3rem;
}

nav > ul {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 3rem;
}

nav > ul > li {
  font-size: 1.5rem;
}

/* Page Accueil */

.verres {
  width: 100%;
  border: 4px solid var(--white);
  border-radius: 1rem;
}

section {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.horaires,
.contact {
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.horaires > ul > li,
.contact > ul > li {
  margin: 0.5rem;
}

.horaires {
  border-right: 3px solid var(--white);
}

/* Page Menu */

.divImgMenu {
  display: flex;
  justify-content: center;
}

.imgMenu,
.imgPlat {
  border: 2px solid var(--white);
  border-radius: 1rem;
}

.imgMenu {
  width: 400px;
}

.imgPlat {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.menu {
  margin: 3rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.divImgPlat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.menuContainer {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}
