@font-face {
  font-family: 'jose';
  src: url(./assets/fonts/JosefinSans-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
}
a {
  color: #a9a9b3;
  text-decoration: none;
}

html {
  display: flex;
  justify-content: center;
}

body {
  background-color: #292a2d;
  color: #a9a9b3;
  font-family: 'jose';
  width: 1000px;
}

.title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 3rem;
}

nav > ul {
  display: flex;
  justify-content: center;
  gap: 5rem;
  list-style: none;
  margin-bottom: 3rem;
}

nav > ul > li {
  font-size: 1.5rem;
}

.verres {
  width: 100%;
  border: 4px solid #a9a9b3;
  border-radius: 1rem;
}

/* .intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/clients.jpg');
  background-size: cover;
  background-position: center;
} */
